﻿<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="userDetails">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/">Home</a>
    </div>
</nav>

<!-- main app container -->
<div class="container">
    <router-outlet></router-outlet>
</div>
