<div class="col-md-6 offset-md-3 mt-5">
  <div class="card">
      <h4 class="card-header">Angular 10 Keycloak Login Example</h4>
      <p class="card-body">try foo:bar</p>
      <a class="nav-item nav-link" routerLink="/hello">Secured hello page example</a>
  </div>
</div>
